<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>


  <%= field_h("Title", :title, f) %>
  <%= field_h("Desription", :description, f) %>
  <%= field_h("Owner", :owner, f) %>

  Title: <%= f.text_field :title %>
  Description <%= f.text_field :description %>
  Owner: <%= f.text_field :owner %>
  Category: <%= f.text_field :category_id %>
  <%= f.submit %>
<% end %>
